<div class="item cart-btn">
    <a href="@Url.Action("GetCartInfo","Cart")" class="user-">
        <i class="bi bi-cart3"></i>
        <span class="count-product">@ViewBag.TotalNumber</span>
        <p>Giỏ hàng</p>
    </a>
</div>
