
@{
    ViewBag.Title = "EmpryCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2 style="margin:20px auto; color:gray;">@ViewBag.EmptyNotification</h2>
    <a href="@Url.Action("Index","Home")" class="continute-shopping-link">Tiếp tục mua sắm >></a>

</div>


